nav {
	background-color: white;
}

li {
	color: black;
}

div.banner-img {
	height: 400px;
	background-image: url(/static/img/2.jpg);
}

div.banner-card {
	margin-top: 100px;
	opacity: 0.8;
}

img.logo-img {
	height: 60%;
	width: 60%;
}

header {
    height: 130px;
    background: linear-gradient(to bottom,#62000e 0,#3e0006 42.5%,#97002e 42.5%,#97002e 42.5%,#97002e 75%,#5b000a 100%);
}

div.banner h1 {
    text-align: center;
}

div.content {

}

div.google_map {

}

footer {
    background-color: white;
    text-align: center;
}

div.register {
  margin-top: 300px;
  margin-bottom: 200px;
}

input.left-register {
  padding-top: 50px;
}

div.no_ident {
    margin-top: -20px;
}

h3.center {
    text-align: center;
}


  /* label color */
div.comment .input-field label {
     color: #000;
   }
   /* label focus color */
div.comment .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
div.comment .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
div.comment .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
div.comment .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
div.comment .input-field .prefix.active {
     color: #000;
   }
