h1.header-title {
    text-align: center;
}
div.post {
    margin-top: 100px;
    margin-bottom: 100px;
}

  /* label color */
div.question .input-field label {
     color: #000;
   }
   /* label focus color */
div.question .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
div.question .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
div.question .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
div.question .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
div.question .input-field .prefix.active {
     color: #000;
   }