.header-title {
    text-align: center;
}

div.center-text {`
    text-align: center;
}

div.no_ident {
    margin-top: -20px;
}

div.bottom_margin {
    margin-bottom: -20px;
}

div.add_question {
    height: 100px;
}

div.bottom_margin_text {
    margin-bottom: 5px;
}