{% extends "mainpage/base.html" %}
{% block content %}
	 <!-- Профиль -->
<div class='row'>
	<div class="col s10 offset-s1">
		<div class="col s4 offset-s4">
			<div class="card-panel teal center-text">
			{% if context_dic.user.username %}
			<span class="white-text">Добро пожаловать, {{ context_dic.user.username }} !!!</span>
			{% else %}
			<span class="white-text">Вы не зарегистрированы!</span>
			{% endif %}
			</div>
		</div>

		<div class="col s8 offset-s2 comment">
			<form method="POST" class="post-form">{% csrf_token %}
					<div class="card green darken-1">
						<h3 class="white-text center">Введите желаемый логин:</h3>
						<div class="card-content white-text">
							<div class="row">
								<div class="input-field col s12 ">
									<input id="change_username" name="change_username" type="text" required="" class="validate">
									<label for="username">Желаемый логин</label>
								</div>
							</div>
						</div>
						<div class="card-action">
							<div class="row">
								<div class="col s4 offset-s4">
									<input type="button" value="Отправить" class="waves-effect waves-light modal-close btn-flat" id="login_change_ajax"/>
								</div>
							</div>
						</div>
					</div>
			</form>
		</div>

		<div class="col s8 offset-s2 comment">
			<form method="POST" class="post-form">{% csrf_token %}
					<div class="card green darken-2">
						<h3 class="white-text center">Введите Ваше имя и фамилию(не работает):</h3>
						<div class="card-content white-text">
							<div class="row">
								<div class="input-field col s12 ">
									<input id="change_username" name="change_username" type="text" required="" class="validate">
									<label for="username">Желаемое имя и фамилия</label>
								</div>
							</div>
						</div>
						<div class="card-action">
							<div class="row">
								<div class="col s4 offset-s4">
									<input type="button" value="Отправить" class="waves-effect waves-light modal-close btn-flat"/>
								</div>
							</div>
						</div>
					</div>
			</form>
		</div>

		<div class="col s8 offset-s2 comment">
			<form method="POST" class="post-form">{% csrf_token %}
					<div class="card green darken-3">
						<h3 class="white-text center">Еще одно очень нужное поле(не работает):</h3>
						<div class="card-content white-text">
							<div class="row">
								<div class="input-field col s12 ">
									<input id="change_username" name="change_username" type="text" required="" class="validate">
									<label for="username">Значение</label>
								</div>
							</div>
						</div>
						<div class="card-action">
							<div class="row">
								<div class="col s4 offset-s4">
									<input type="button" value="Отправить" class="waves-effect waves-light modal-close btn-flat"/>
								</div>
							</div>
						</div>
					</div>
			</form>
		</div>

	</div>
</div>

{% endblock %}