{% extends "mainpage/base.html" %}
{% block content %}
<!-- Регистрация -->
<div class="row register">
	<form method="post" action=".">{% csrf_token %}
		<div class="row">
			<div class="input-field col s6">
				<input id="id_username" name="username" type="text" required="" class="validate">
				<label for="first_name">Логин</label>
			</div>
			<div class="input-field col s6">
				<input id="id_email" max_length="30" name="email" type="text" required="" class="validate">
				<label for="mail">Почта</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input id="id_password1" max_length="30" name="password1" type="password" required="" class="validate">
				<label for="first_name">Пароль</label>
			</div>
			<div class="input-field col s6">
				<input id="id_password2" max_length="30" name="password2" type="password" required="" class="validate">
				<label for="mail">Повторите пароль</label>
			</div>
			<input type="submit" value="Register" class="waves-effect waves-light modal-close btn-flat left-register"/>
		</div>
	</form>
</div>
{% endblock %}
