{% extends "mainpage/base.html" %}

{% block css-link %}
<link rel="stylesheet" type="text/css" href="/static/css/chat.css">
{% endblock %}


{% block content %}
{% if context_dic.user.userprofile.chat_access %}

	 <!-- Заголовок -->
<div class="row">
	<div class="col s12">
		<div class="card cyan">
			<div class="card-content white-text">
				<span class="card-title">Это приватная комната</span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<form method="POST" class="post-form">{% csrf_token %}
		<div class="col s6 offset-s3">
			<div class="card cyan darken-2">
				<div class="card-content white-text">
					<div class="row">
						<div class="input-field col s12">
							<textarea id="message" name="message" class="materialize-textarea"></textarea>
							<label for="first_name">Ваш комментарий</label>
						</div>
					</div>
					<div class="row non_display" id='show_add_image'>
						<div class="input-field col s12 ">
							<input id="image" name="image" type="text" required="" class="validate">
							<label for="first_name">Ссылка на вашу картинку</label>
						</div>
						<div class="input-field col s12 ">
							<input id="text" name="text" type="text" required="" class="validate">
							<label for="first_name">Подпись к картинке</label>
						</div>
					</div>
					<input type="button" value="Добавить картинку" class="waves-effect waves-light modal-close btn-flat" id="show_fields_for_add_image"/>
				</div>
				<div class="card-action">
					<div class="row">
						<div class="col s6 offset-s3">
							<input type="button" value="Отправить" class="waves-effect waves-light modal-close btn-flat" id="post_message_ajax"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="row">
	<div class="col s4 offset-s4">
		<div class="card blue">
			<div class="card-content black-text">
				<div class="pagination">
				    <span class="step-links">
				        {% if context_dic.messages.has_previous %}
				            <a class="link" href="?page={{ context_dic.messages.previous_page_number }}">previous</a>
				        {% endif %}

				        <span class="current">
				            Page {{ context_dic.messages.number }} of {{ context_dic.messages.paginator.num_pages }}.
				        </span>

				        {% if context_dic.messages.has_next %}
				            <a class="link" href="?page={{ context_dic.messages.next_page_number }}">next</a>
				        {% endif %}
				    </span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" id='messages'>
	{% for message in context_dic.messages %}
		<div class="col s8 offset-s2 message no_ident">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">{{ message.author_id }}</span>
					<p>{{ message.text }}</p>
					{{ message.images|safe }}
					<p>{{ message.date }}</p>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

{% else %}
<div class="row">
	<div class="col s12">
		<div class="card cyan">
			<div class="card-content white-text">
					<span class="white-text">У вас нет доступа к чату!</span>
			</div>
		</div>
	</div>
</div>
{% endif %}


{% endblock %}