{% extends "mainpage/base.html" %}

{% block css-link %}
<link rel="stylesheet" type="text/css" href="/static/css/article.css">
{% endblock %}


{% block content %}
	 <!-- Статья -->
<div class="row article">
	<div class="col s10 offset-s1" >
		<div class="card white z-depth-2">
			<div class="card-content black-text">
				<span class="card-title">{{ context_dic.article.article_title }}</span>
				<p>{{ context_dic.article.article_text }}</p>
				<h6>{{ context_dic.article.article_date }}</h6>
			</div>
		</div>
		{% if context_dic.images %}
		<div class="col s12">
			<div class="card z-depth-2">
				<div class="card-content black-text">
					<h1>Картинки к статье: </h1>
					<div class="row">
					{% for image in context_dic.images %}
						<div class="col s3">
							<img class="materialboxed" data-caption="{{ image.name }}" width="200" src="{{ image.link }}">
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}