{% extends "mainpage/base.html" %}

{% block css-link %}
<link rel="stylesheet" type="text/css" href="/static/css/articles.css">
{% endblock %}

{% block content %}

<div class='row'>
	<div class="col s10 offset-s1 z-depth-3">
		<div class="card-panel cyan lighten-1">
			<h1 class="header-title">Статьи</h1>
		</div>

		{% for article in context_dic.articles %}
			<a href={% url 'get_one_article' pk=article.pk %}>
				<div class="row">
					<div class="col s8 offset-s2 no_ident bottom_margin">
						<div class="card cyan darken-3">
							<div class="card-content white-text">
								<span class="card-title">{{ article.article_title }}</span>
								<p>{{ article.article_short_description }}</p>
								<p>{{ article.article_date }}</p>
							</div>
						</div>
					</div>
				</div>
			</a>

		{% endfor %}
	</div>
</div>

{% endblock %}