<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mainpage.css">
	{% block css-link %}

	{% endblock %}
	<script src="/static/js/jquery-2.2.1.min.js"></script>
	<script src="/static/js/materialize.js"></script>
	<script src="/static/js/main.js"></script>
	<meta  name="keywords" content="Autosite">
	<meta name="description" content="Autosite">
	<meta http-equiv="content-language" content="ru">
	<title>Autosite</title>
</head>
<!-- Шапка-->
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo blue-text text-lighten-2"><img src="/static/img/Logo.png" class="logo-img"></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a class="waves-effect waves-light cyan darken-1 btn" href="/">Главная</a></li>
				<li><a class="waves-effect waves-light cyan darken-1 btn" href="/articles">Статьи</a></li>
				<li><a class="waves-effect waves-light cyan darken-1 btn" href="/questions">Вопросы/ответы</a></li>
				<li><a class="waves-effect waves-light cyan darken-1 btn" href="/forum">Чат</a></li>
				{% if context_dic.user.is_authenticated %}
				<li><a class="waves-effect waves-light teal darken-1 btn" href="/profile">Профиль</a></li>
				<li><a class="waves-effect waves-light btn" id="ajax_logout">Выход</a></li>
				{% else %}
				<li><a class="waves-effect waves-light btn modal-trigger" href="#modal_login">Вход</a></li>
				<li><a class="blue-text text-lighten-2" href="/register">Регистрация</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>

	<!-- Вход -->
	<div id="modal_login" class="modal">
		<div class="modal-content">
			<h4>Вход через соцсети:</h4>
			<a class="waves-effect waves-light btn" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Google</a>
			<a class="waves-effect waves-light btn" href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.path }}">VK</a>
			<a class="waves-effect waves-light btn" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Twitter</a>
		</div>

		<div class="modal-footer">
			<hr>
		</div>

		<div class="modal-content">
			<h4>Вход через сайт:</h4>
			<div class="input-field col s6">
				<input id="id_username" name="username" type="text" class="validate">
				<label for="first_name">Логин</label>
			</div>
			<div class="input-field col s6">
				<input id="id_password" name="password" type="text" class="validate">
				<label for="last_name">Пароль</label>
			</div>
		</div>
		<div class="modal-footer">
			<input type="button" value="Login" id="ajax_login" class="waves-effect waves-light modal-action modal-close waves-effect waves-green btn-flat"/>
		</div>
	</div>

	<div class="content">
	{% block content %}

	{% endblock %}
	</div>

	</body>
		<footer class="page-footer teal lighten-2">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text"><p>АААА, здесь большой заголовок</p></h5>
						<p class="grey-text text-lighten-4">Здесь что-то будет</p>
					</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Ссылки</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="/articles">Статьи</a></li>
						<li><a class="grey-text text-lighten-3" href="/questions">Вопросы/ответы</a></li>
						<li><a class="grey-text text-lighten-3" href="/">Форум</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">О нас</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				&copy; Alexander Smirnov, 2016 ¯\_(ツ)_/¯
				<a class="grey-text text-lighten-4 right" href="#!">( ͡° ͜ʖ ͡°)</a>
			</div>
		</div>
	</footer>
</html>

