{% extends "mainpage/base.html" %}

{% block css-link %}
<link rel="stylesheet" type="text/css" href="/static/css/content.css">
{% endblock %}

{% block content %}

	 <!-- Банер -->
<div class="row banner-img">
	<div class="col s6 offset-s3 banner-card">
		<div class="card-panel teal">
			<span class="white-text">{{ context_dic.banner_text.banner_text }}</span>
		</div>
	</div>
</div>

<div class="main_text">
	<div class="row">
		<div class="col s12 m12 l12">
			<div class="card white">
				<div class="card-content black-text">
					<span class="card-title center">Ремонт и техническое обслуживание вашего автомобиля</span>
					<p>Приглашаем посетить мастерскую по обслуживанию и ремонту легковых автомобилей в п. Усть-Донецком.Опыт работы с автомобилями составляет более 15-ти лет. Качество, надежность и профессионализм - это принципы нашей работы.  Мастер   всегда рад проконсультировать клиента о неисправностях, особенностях обслуживания или текущем ремонте автомобиля. Основной концепцией в работе и дальнейшем развитии мы считаем доступность автосервиса, где качественно и недорого делают работу с максимально лояльным отношением к клиенту.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12 m12 l12 ">
			{% for item_list in context_dic.item_lists %}
			<ul class="collection with-header">
				<li class="collection-header">
					<h4>{{ item_list.title }} </h4>
				</li>
				{% for items in context_dic.items %}
					{% for item in items %}
						{% if item.list_items.id = item_list.id %}
						<li class="collection-item">{{ item.item_text }}</li>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</ul>
			{% endfor %}
		</div>
	</div>

	<div class="row">
		<div class="col s12 m12 l12 ">
			<div class="card white darken-1 z-depth-3">
				<div class="card-content black-text">
					<span class="card-title">Время работы:</span>
					<p>График работы автосервиса: с 9 до 18, если необходимо отремонтировать авто в другое время, то по предварительному звонку</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row google_map">
		<div class="col s6 offset-s3 google_map">
			<div class="card white darken-1 z-depth-3 google_map">
				<div class="card-content black-text google_map">
					<span class="card-title">Вы можете найти нас по адресу:</span>
					<p class="card-title">Ляляля, у нас такой-то адрес!</p>
					<p><iframe class="google_map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1343.9979511920865!2d40.86354470222039!3d47.64564646234606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1456778520424" frameborder="0" style="width:100%;height:330px;border:0px" allowfullscreen></iframe></p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}