{% extends "mainpage/base.html" %}

{% block css-link %}
<link rel="stylesheet" type="text/css" href="/static/css/question.css">
{% endblock %}

{% block content %}
	 <!-- Новый вопрос -->
<div class="col s10">
	<div class="card-panel teal">
		<h1 class="header-title">Новый вопрос</h1>
	</div>
</div>

<div class="row post">
	<form method="POST" class="post-form">{% csrf_token %}
		<div class="col s6 offset-s3">
			<div class="card cyan darken-2">
				<div class="card-content white-text">
					<div class="row question">
						<div class="input-field col s12 ">
							<input id="id_title" name="title" type="text" required="" class="validate">
							<label for="first_name">Заголовок</label>
						</div>
					</div>
					<div class="row question">
						<div class="input-field col s12">
							<input id="id_description" name="description" type="text" required="" class="validate">
							<label for="mail">Описание</label>
						</div>
					</div>
				</div>
				<div class="card-action">
					<div class="row">
						<div class="col s2 offset-s5">
							<input type="submit" value="Отправить" class="waves-effect waves-light modal-close btn-flat left-register"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>


{% endblock %}