{% extends "mainpage/base.html" %}

{% block css-link %}
<link rel="stylesheet" type="text/css" href="/static/css/questions.css">
{% endblock %}

{% block content %}

<div class='row'>
	<div class="col s10 offset-s1 z-depth-3">

		<div class="card-panel blue lighten-1">
			<h1 class="header-title white-text">Ваши вопросы</h1>
			{% if context_dic.user.username %}
			<div class="col s1 offset-s11"><span class="white-text "><a class="btn-floating btn-large waves-effect waves-light red tooltipped z-depth-3" href='/questions/new/' data-tooltip="Добавить вопрос!"><i class="material-icons">add</i></a></span></div>
			{% endif %}
		</div>
	{% for question in context_dic.questions %}
		<a href={% url 'get_one_question' pk=question.pk %}>
			<div class="col s8 offset-s2 no_ident">
				<div class="card green darken-4">
					<div class="card-content white-text">
						<div class="row">
							<div class="col s12 offset-s1 bottom_margin_text">
								<p>{{ question.title }}</p>
							</div>
							<div class="col s8 offset-s1 bottom_margin_text">
								<p>{{ question.description }}</p>
							</div>
							<div class="col s6 bottom_margin_text">
								<p>{{ question.author_id }}</p>
							</div>
							<div class="col s6 bottom_margin_text">
								<p>{{ question.pub_date }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
	{% endfor %}
	</div>
</div>

{% endblock %}