{% extends "mainpage/base.html" %}

{% block css-link %}
<link rel="stylesheet" type="text/css" href="/static/css/show_question.css">
{% endblock %}

{% block content %}
<div class='row'>
	<div class="col s10 offset-s1 z-depth-3">
		<div class="col s12">
			<div class="card-panel teal">
				<h1 class="header-title">{{ context_dic.question.title }}</h1>
			</div>
		</div>
		<div class="col s6 offset-s6">
			<div class="card-panel teal center-text">
			{% if context_dic.user.username %}
			<span class="white-text">Добро пожаловать, {{ context_dic.user.username }} !!!</span>
			{% else %}
			<span class="white-text">Вы не зарегистрированы! Пожалуйста, войдеите через соцсети или зарегистрируйтесь.</span>
			{% endif %}
			</div>
		</div>
		<div class="col s8 offset-s2">
			<div class="card cyan">
				<div class="card-content white-text">
					<span class="card-title">{{ context_dic.question.title }}</span>
					<p>{{ context_dic.question.description }}</p>
					<h6>{{ context_dic.question.author_id }}</h6>
					<h6>{{ context_dic.question.pub_date }}</h6>
				</div>
			</div>
		</div>
		<div class="all_comments" id="all_comments">
			{% for comment in context_dic.comments %}
				<div class="col s6 offset-s3 no_ident">
					<div class="card blue">
						<div class="card-content white-text">
							<p>{{ comment.author_id }}</p>
							<h6>{{ comment.description|linebreaks }}</h6>
							<h6>{{ comment.pub_date|date:"Y m d H i" }}</h6>
						</div>
					</div>
				</div>

			{% empty %}
			<div class="row">
				<div class="col s6 offset-s3 no_ident">
					<div class="card blue">
						<div class="card-content white-text">
							<span class="card-title">Комментариев пока нет!</span>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

		<div class="col s6 offset-s3 z-depth-1">
			<div class="card cyan">
				<form method="POST" class="post-form">{% csrf_token %}
					<div class="input-field col s12">
						<textarea id="id_description" name="description"  class="materialize-textarea"></textarea>
						<label for="description">Ваш комментарий</label>
					</div>
					<div class="col s6 offset-s4">
						<input type="button" value="Отправить" class="waves-effect waves-light cyan darken-1 btn" id="post_ajax"/>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>

{% endblock %}